In [4]:
import pandas as pd
df = pd.read_csv('Sims.csv')

In [5]:
df.head()

,rho,sim,theta1,theta2,x1,x2,tau1,tau2,B1_tau1,P1_tau1,P2_tau1,P2_tau2
0,0.01,0,0.048190,0.029620,115.639480,91.870176,0.048190,0.752095,115.639480,99.829671,99.860858,91.870176
1,0.01,1,0.043519,0.002772,94.753530,87.696583,0.581318,0.874988,94.753530,94.752690,94.752439,87.696583
2,0.01,2,0.019217,0.022304,115.954964,105.992303,0.019217,0.022304,115.954964,99.933851,100.043436,100.024574
3,0.01,3,0.005702,0.081881,116.168537,125.757943,0.005702,0.081881,116.168537,99.980707,100.127468,99.650509
4,0.01,4,0.047382,0.055335,105.999559,129.434477,0.047382,0.055335,105.999559,99.731272,99.769536,99.719372

In [6]:
df.set_index(['rho','sim'],inplace=True)